:root {
    --primary-color: #071629;
    --secondary-color: #C271FF;
    --text-color: #FFFFFF;
    --background-color: #071629;

}

@font-face {
    font-family: 'SourceSansPro';
    src: url('./font/SourceSansPro-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}


body{
    font-family: 'SourceSanPro', sans-serif;
    background-color: #071629;
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin:auto;
}

strong {
    color: var(--secondary-color);
    font-weight: 700;
}

.wrapper {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {

    background-image: url("images/pic_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.headlogo{
    display: flex;
    margin: 20px;
}

header nav {
    display: flex;
    flex-direction: row-reverse;;
    list-style: none;
    gap: 20px;
    font-size: 12px;
}

header nav a {
    color: inherit;
    text-decoration: none;;
}


.titlediv h1 {
    font-size: 120px;
    justify-content: center;
    padding-bottom: 0;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 155px
}


.titlediv p {
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    font-weight: 700;
}

header section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content:space-between;
    max-width: 1100px;
    border-color: transparent;
}

.titlediv buttons {
    margin-block-start:0px;
    margin-block-end: 0px;
    margin:0;
}

.button {
    background-color:var(--secondary-color);
    color: var(--text-color);
    font-weight: bold;
    border-radius: 20px;
    width: 162px;
    height: 44px;
    box-shadow: 0px 2px 20px #00000080;
    font-size: 13px;
    text-align: center;

}

.sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    gap: 50px;
    font-size: 16px;
    margin-block-end: 150px;
    margin-block-end: 30px;
}

.smile {
    display: flex;
}

.imgmenu h2 {
    font-weight: 300;
    justify-content: space-evenly;
    margin-top: 10% ;
}

.imgmenu {
    width: 100%;
    margin-block-start: 0px;;
}

.propics {
    max-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-block-end: 30%;

}

.propics img {
    border-radius: 100px;
    flex-direction: column-reverse;
}


.imgpro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.redshirt {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    height: 392px;
}

.redshirt img {
    border-radius: 100%;
    width: 160px;
    height: 160px;
    justify-content: space-around;

}