body {
    font-family: 'Baskerville', Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    margin: 0; 
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    font-size: large;
  }

  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
  }
  
  .nav li {
    float: left;
    display: flex;
    align-items: center;
  }
  
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    background-color: #111;
  }
  

  .title {
    text-align: center;
    padding: 20px 0;
    background-color: #b81414;
    color: #000000;
    border-bottom: 2px solid #e0c097;
  }
  
  .title h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
    font-family: 'Baskerville', Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
  }
  
  .title h2 {
    font-size: 1.5em;
    font-style: italic;
    color: #7afa03;;
  }
  
  .about {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .highlight {
    color: #e63946;
    font-weight: bold;
  }
  
  .degree {
    color: #0077b6;
  }

  .OKschool {
    animation: color-change 2s infinite alternate-reverse;
    animation-name: OSU;
  }
  
  @keyframes OSU {
    from { color: #fe5c00; }
    to { color: #000000; }   
  }

  .KSschool {
    animation: color-change 2s infinite alternate-reverse;
    animation-name: HINU;
  }
  
  @keyframes HINU {
    from { color: #9D00FF; }
    to { color: #FFD700; }
  }

  .Why {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .Roots {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  .Hobbies {
    background-color: #f9f1e9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  .Pets {
    background-color: #f0efeb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .Pets ul {
    list-style-type: "🐾 ";
  }
  
  .end {
    font-style: italic;
    color: #555;
    margin-top: 20px;
    text-align: center;
  }

  .Photo {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .Photo h2 {
    color: #e63946;
    margin-bottom: 20px 0;
    position: flex;
    text-align: center;
  }
  
  .Photo figure {
    margin: 20px 0;
    text-align: center;
  }
  
  .Photo figcaption {
    font-style: italic;
    color: #555;
  }
  
  .Photo img, 
  .Photo video {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  .Photo img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  footer a {
    color: #f0efeb;
    text-decoration: none;
    margin: 0 10px;
  }
  
  footer h4 {
    margin: 0.5em 0;
  }
  

  a:hover {
    text-decoration: underline;
  }
  

  .title h1 {
    animation: color-change 4s infinite alternate;
  }
  
  @keyframes color-change {
    from { color: #65b41b; }
    to { color: #0077b6; }

